body {
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field {
    display: flex;
    gap: 0px;
}

#fname,
#lname {
    width: 135px;
    border: 1px solid #ccc;
}

#resume {
    padding: 2px;
}

#address1,
#address2 {
    width: 183%;
}

#phone {
    width: 150%;
}

#hobbies {
    width: 100%;
}

.field label,
.field label:empty {
    width: 150px;
}

.inputs {
    display: flex;
    gap: 12px;
}

.select-wrapper {
    position: relative;
    width: 80%;
}

.select-field {
    width: 100%;
    padding: 3px;
    appearance: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

small {
    color: gray;
}

.arrow-bottom {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
}

.input-group {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}

.input-field {
    width: 60%;
    border: 1px solid #ccc;
}

.address {
    text-align: center;
}

.input-group.address input {
    width: 100%;
    border: 1px solid #ccc;
}

h3 {
    color: maroon;
}

.div-btn {
    text-align: center;
}

.btn {
    color: white;
    background-color: maroon;
    border: none;
    padding: 4px;
    width: 13%;
}

h1 {
    text-align: center;
}

fieldset {
    width: 40%;
    border: 0.1px solid rgb(225, 225, 225);
    border-top: 15px solid maroon;
}

.phone-code {
    width: 12%;
}

.city {
    width: 50%;
}

.state {
    width: 10%;
}

.zip-code {
    width: 20%;
}