.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.field label {
    width: 160px;
    flex-shrink: 0;
}

.inputs {
    display: flex;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}

.input-field {
    width: 50%;
}

.address {
    text-align: center;
}

.input-group.address input {
    width: 100%;
}

.field label:empty {
    width: 160px;
}

h2 {
    color: maroon;
}

.div-btn {
    text-align: center;
}

.btn {
    color: white;
    background-color: maroon;
    width: 10%;
    border: none;
}

h1 {
    text-align: center;
}

fieldset {
    border-top: 15px solid maroon;
}
.phone-code {
    width: 8%;
}
.state{
    width: 10%; 
}
.city{
    width: 35%;
}
.zip-code{
    width: 20%;
}