body {
  font-family: "Times New Roman", serif;
}

form {
  display: flex;
  justify-content: center;
}

.main-fieldset {
  width: 40%;
  border: 0.1px solid rgb(225, 225, 225);
  border-top: 15px solid maroon;
}

fieldset{
  position: relative;
}

.personal-fieldset, .emp-fieldset, .ref1-fieldset, .ref2-fieldset {
  border:none;
}

.main-heading, h1, .div-btn, .address-input, .city-row {
  text-align: center;
}


.main-fieldset legend {
  position: absolute;
  top: 30px;
  left: 150px;
  font-weight: bolder;
  font-size: xx-large;
}

.personal-fieldset legend, .emp-fieldset legend, .ref1-fieldset legend, .ref2-fieldset legend {
  position: absolute;
  top: 25px;
  left: 0px;
  font-weight: bolder;
  font-size: larger;
  color: maroon;
}

.personal-fieldset legend {
  top: 85px;
  left: 0px;
}

h3 {
  color: maroon;
}

small {
    color: gray;
}

.personal-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 120px;
}

.emp-container, .ref1-container, .ref2-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 70px;
}

.field {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

label {
  width: 150px;
}

.inputs {
  display: flex;
  gap: 8px;
  width: 60%;
}

.address-input {
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

#resume {
  color: #ccc;
}

input,
select {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 3px;
}

.input-field {
  width: 60%;
}

.select-field {
  appearance: none;
  background-image: 
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 16px) 50%,
    calc(100% - 10px) 50%;
  background-size: 6px 6px;
  background-repeat: no-repeat;
}

.phone-code {
  width: 40px;
}

.phone {
  flex: 1;
}

.btn {
  background: maroon;
  color: white;
  border: none;
  padding: 6px 16px;
  width: 13%;
  border-radius: 3px;
  cursor: pointer;
}

.city-row, .phone-row {
  gap: 4px;
}

.city-row input {
  width: 100%;
  box-sizing: border-box;
}

.country, .city, .address-2{
  margin-left: 162px;
  width: 100%;
}

#city {
  flex: 4;
}

#state {
  flex: 1;
}

#zip {
  flex: 2;
}

#hobbies {
    width: 100%;
}